:root {
  --display-font: "Playfair Display", serif;
  --seconday-font: "Roboto", sans-serif;
  --primary-color: #f5f5f5;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
h2,h3,h4,h5{
 font-family: var(--seconday-font);
}
h3,h2{
letter-spacing: 5px;
text-transform: capitalize;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/queen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  color: var(--primary-color);
}

header h1 {
  font-family: var(--display-font);
  font-size: 128px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 10px;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 30px;
}
main h2{
font-size: 13px;
font-weight: bold;
margin-top: 80px;
color:#AEAEAE;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
}
 header a,
 main a{
  font-family: var(--seconday-font);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 16px 30px;
  background: #885df1;
  border-radius: 100px;
  color: var(--primary-color);
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
}
main h3{
  font-size: 48px;
  color:#272044;
  margin: 0;
  font-family: var(--display-font);
  line-height: 1.2;
}
main h4{
font-size: 24px;
font-weight: 700;
line-height: 1;
margin: 20px 0 0;
color: #272044;
}
main h5{
font-size: 16px;
font-weight: 700;
line-height: 1;
text-align: left;
margin: 0;
}
main p{
  font-size: 16px;
  font-family: var(--seconday-font);
  color:#272044;
 line-height: 1.5;
 }
main .queen-img{
  max-width: 100%;
  height: 100%;
filter: brightness(36%) contrast(108%);
}
.grid-more-songs{
  max-width: 1000px;
  }
  section {
  max-width: 1400px;
  margin: 0 auto;
}


footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/queen-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--seconday-font);
}
footer h3 {
  color: var(--primary-color);
  margin: 0;
  font-family: var(--display-font);
  font-weight: bold;
  font-size: 24px;
}
footer p {
  font-family: var(--seconday-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
}
.embed-favourite-songs{
  width: 100%;
  aspect-ratio: 16/9;
}
.favourite-songs-description{
  background:#f5f5f5; 
 padding: 15px;
}
.more-songs{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  
 }
 
.grid{
  display: grid;
  grid-gap: 50px;
}
.grid-2-col{
 grid-template-columns: 1fr 1fr;
 margin-right: 120px;
  }
.grid-3-col-footer{
   grid-template-columns: 1fr 2fr 2fr;
  }
  .grid-3-col{
    grid-template-columns: 1fr  1fr 1fr;
    }
  section .grid-songs{
  grid-gap: 20px;
  margin: 60px 0 10px;
}
  
.favourite-songs{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/queen-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 padding: 50px;
}
.favourite-songs-header{
  text-align: center;
  margin: 0 0 30px;
  
}
.backround{
  background-color: #f5f5f5;
  margin-top: 30px;
 
  
}
.btn-main{
 display: block;
 margin: 0 auto;
}
.text-center{
  text-align: center;
}


@media (max-width: 900px) {
  header h1 {
    font-size: 66px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header {
    padding: 40px 20px;
  }
  main h2{
    margin-top: 0;
  }
  .grid{
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap:20px;
    margin:0 auto;
    padding: 0 15px;
  }
  .grid-songs{
    margin: 0;
  }
  footer {
    padding: 30px 10px;
  }
}
